<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

<div class="terminal-window">
  <div class="titlebar">
    <div class="btn red"></div>
    <div class="btn yellow"></div>
    <div class="btn green"></div>
  </div>

  <div class="content">
    <h1 class="header">LOGIN</h1>
    <p class="subtitle">[ SECURE_LOGIN_PAGE ]</p>

    <form action="/login" method="POST">

      <label class="label">&gt; USERNAME</label>
      <input class="input" name="username"/>

      <label class="label">&gt; PASSWORD</label>
      <input class="input" type="password" name="password" />

      <button type="submit" class="connect-btn"> LOGIN </button>

    </form>

    <div class="options">
      <label><input type="checkbox" /> REMEMBER ME</label>
    </div>

  </div>
</div>

</body>
</html>


















































<!-- Delete the admin user after finishing your test: @dmindex021 -->
